button:focus {
    outline: none;
}

.btn-rounded {
    border-radius: 24px;
}

.btn{
    padding: 15px 28px;
    font-weight: $font-weight-bold;
    line-height: 1;
}

// Button variations

@each $color, $value in $theme-colors {

    .btn-soft-#{$color} {
        $textColor : $value;

        @if ($color == secondary){
            $textColor: $black;
        }

        @include button-soft-variant(rgba($textColor, 0.6), rgba($value, 0.2), transparent);
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant(rgba($value, 0.6));

        @if ($color == secondary){
            color: rgba($black, 0.6);
        }
    }
}